@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

.dropdown:not(.dropdown-open) .dropdown-content {
  pointer-events: none;
  visibility: hidden;
}

.dropdown:focus-within .dropdown-content,
.dropdown.dropdown-open .dropdown-content {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}